{% extends 'core/base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div style="text-align: center; background-image: linear-gradient(to right, rgb(56, 56, 56) , rgb(64, 64, 64)); border-radius: 15px; padding-bottom: 20px;" >
    <h1 style="font-weight: bold; padding: 6px; font-size: x-large;" >About us</h1>
    <div style="padding: 5px; margin-left: 15px; margin-right: 15px; font-family: Georgia, 'Times New Roman', Times, serif;">
        <p style="padding: 8px; font-size: large;">
            Welcome to Valhalla, your premier destination for high-quality, reliable, and timeless automobiles. Nestled in the heart of Asgard, our dealership is committed to providing a curated selection of cars, ensuring that only those in optimal condition find a place in our inventory. At Valhalla, we prioritize the satisfaction and trust of our customers, and we believe in offering vehicles that stand the test of time.
        </p>
        <p style="padding: 8px; font-size: large;">
            Our commitment to excellence extends beyond the showroom floor. Valhalla boasts a team of expert mechanics and detailers who are dedicated to the meticulous overhaul and restoration of cars in need of care. Specializing in vintage cars, our team takes pride in reviving these automotive masterpieces, understanding that with proper attention, these classics can endure the ages. We believe in preserving the legacy of vintage cars and giving them a second life, allowing enthusiasts to experience the magic of these timeless vehicles.
        </p>
        <p style="padding: 8px; font-size: large;">
            Valhalla is not just a dealership; it's a community where car enthusiasts can buy, sell, and celebrate their passion for automobiles. Our online marketplace provides a secure platform for individuals to list their cars for sale, connecting sellers with potential buyers. We understand the importance of transparency in the car-buying process, which is why we offer comprehensive vehicle checkups before any deal is made. Our thorough inspections cover crucial aspects such as crash history, repairs, engine health, and transmission condition, providing buyers with a clear understanding of the vehicle's overall condition.
        </p>
        <p style="padding: 8px; font-size: large;">
            Whether you're in search of your dream car or looking to part ways with your current vehicle, Valhalla is the place where automotive dreams come true. Our commitment to quality, reliability, and customer satisfaction sets us apart, making Valhalla the trusted choice for those who appreciate not only the joy of driving but also the artistry and craftsmanship that go into every vehicle we offer. Join us in the celebration of automotive excellence at Valhalla – where every car tells a story, and every journey begins with a reliable and timeless companion.
        </p>
    </div>
</div>
{% endblock %}